<h3>Wish List</h3>
<div class="card-deck row" *ngIf="gamesWishlist">
	<div class="card text-white bg-dark" *ngFor="let game of gamesWishlist; index as i">
		<img class="card-img-top" [src]="game.coverUrl">
		<div class="card-body">
			{{game.title}}
		</div>
		<div class="card-footer">
			<img class="action-button" src="assets/store/wishlist-white.webp" (click)="wishlistRemove(game)" title="Remove from Wishlist" />
			<img class="action-button" src="assets/store/plus-white.webp" (click)="libraryPurchase(game)" title="Add to Library" />
		</div>
	</div>
</div>

<h3>My Purchased Games</h3>
<div class="card-deck row" *ngIf="gamesPurchased">
	<div class="card text-white bg-dark" *ngFor="let game of gamesPurchased; index as i">
		<img class="card-img-top" [src]="game.coverUrl">
		<div class="card-body">
			{{game.title}}
		</div>
		<div class="card-footer">
			<img class="action-button" src="assets/store/trashcan-white.webp" (click)="libraryRemove(game)" title="Remove from Library" />
		</div>
	</div>
</div>

<h3>My Pro Games</h3>
<div class="card-deck row" *ngIf="games">
	<div class="card text-white bg-dark" *ngFor="let game of gamesClaimed; index as i">
		<img class="card-img-top" [src]="game.coverUrl">
		<div class="card-body">
			{{game.title}}
		</div>
		<div class="card-footer">
			<img class="action-button" src="assets/store/plus-white.webp" (click)="libraryPurchase(game)" title="Add to Library" />
			<img class="action-button" src="assets/store/trashcan-white.webp" (click)="libraryRemove(game)" title="Remove from Library" />
		</div>
	</div>
</div>

<h3>Unowned Games</h3>
<div class="card-deck row" *ngIf="gamesUnowned">
	<div class="card text-white bg-dark" *ngFor="let game of gamesUnowned; index as i">
		<img class="card-img-top" [src]="game.coverUrl">
		<div class="card-body">
			{{game.title}}
		</div>
		<div class="card-footer">
			<img class="action-button" src="assets/store/wishlist-white-outline.webp" (click)="wishlistAdd(game)" title="Add to Wishlist" />
			<img class="action-button" src="assets/store/ticket-white.webp" (click)="libraryClaim(game)" title="Claim Pro Game" />
			<img class="action-button" src="assets/store/plus-white.webp" (click)="libraryPurchase(game)" title="Add to Library" />
		</div>
	</div>
</div>