<nav class="navbar navbar-expand">
	<app-stadia></app-stadia>
	
	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" [ngClass]="{'nav-link-active' : activeHome}" routerLink="/home">Home</a></li>
			<li class="nav-item"><a class="nav-link" [ngClass]="{'nav-link-active' : activeStore}" routerLink="/store">Store</a></li>
			<li class="nav-item"><app-search></app-search></li>
		</ul>

		<ul class="navbar-nav my-2 my-lg-0">
			<li class="nav-item"><a class="nav-link" [ngClass]="{'nav-link-active' : activeSettings}" routerLink="/settings">Settings</a></li>
			<li class="nav-item"><a class="nav-link" [ngClass]="{'nav-link-active' : activeUser}" routerLink="/dashboard">User</a></li>
		</ul>
	</div>

</nav>